# DAY 1

### Majority of it was theory part

# DAY 2

## Previous work recap

In [1]:
print("Hello World")

Hello World

In [2]:
a = 10
b = 12
print(a + b)

22

In [4]:
a = 123
b = "hello" 
c = 3+5j
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'complex'>

In [7]:
a = "Hello, World!"
print(a[2:5])

llo

In [10]:
a = input()
b = input()
c = a + b 
print(c)
print(type(c))

caravan
<class 'str'>

In [11]:
c = 9.234
print(type(c))

<class 'float'>

In [53]:
a = int(input("your_age"))
print(f'your age is: {a}')

your age is: 22

## If else condition

In [ ]:
age = int(input("enter your age"))
iq = int(input("enter your iq"))
height = float(input("enter the height(in ft)"))
if age>18 and iq > 100 and height>5.5:
    print("eligable for licence")
elif age > 18 and iq <100 and height<5.5:
    print("public threat and special condition")
else:
    print("Not eligable")

public threat and special condition

In [18]:
a = int(input()) 
if a:
    print("true branch")
else:
    print("false branch")

true branch

## Keywords

In [39]:
a = " hello "
a.capitalize()

' hello '

In [43]:
e ="abcdef"
e.isalpha()

True

In [44]:
e = "1234"
e.isdigit()

True

In [49]:
e = "hello Worllld"
#e.count('l')
e.find('W')

6

## While Loop

In [3]:
f = 0
while f<10:
    print(f)
    f += 2

0
2
4
6
8

In [ ]:
f = 0
while f<10:
    if f==6:
        continue
        #break
    print(f)
    f += 2

## For Loop

In [9]:
for i in "hello world":
    print(i)

h
e
l
l
o

w
o
r
l
d

In [10]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [11]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [14]:
list1 =["red","green","blue","yellow"]
list2 =["apple","mango","banana","grapes"]
for i in list1:
    for j in list2:
        print(i,j)

red apple
red mango
red banana
red grapes
green apple
green mango
green banana
green grapes
blue apple
blue mango
blue banana
blue grapes
yellow apple
yellow mango
yellow banana
yellow grapes

In [15]:
for i in range(3):
    print(bool(i))

False
True
True

In [19]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Questions Afternoon

In [20]:
s = "python"
print(s[0]+ s[-1])

pn

In [22]:
fruits = ["apple", "banana", "cherry"]
a,b,c = fruits
print(a,b,c)

apple banana cherry

In [23]:
type(3 + 2.9)

float

In [27]:
n = 1
while n < 20:
    n *= 2 
print(n)

32

In [26]:
x = 3.0
if x == 3:
    print("Equal")
else:
    print("Not equal")

Equal

In [33]:
s = "hello"
if "h" in s and "z" not in s:
    print("yes")
else:
    print("no")

yes

In [34]:
num = 15
if num % 3 == 0:
    if num % 5 == 0:
        print("Divisible by both")
    else:
        print("Divisible by 3 only")
else:
    print("Not divisible by either")

Divisible by both

In [35]:
x = True
y = False
if x and not y:
    print("Pass")
else:
    print("Fail")

Pass

In [36]:
for i in range(1,5):
    print(i*2)

2
4
6
8

In [38]:
for i in range(10,3,-2):
    print(i)

10
8
6
4

In [39]:
for i in range(1,3):
    for j in range(1,3):
        print(i*j)

1
2
2
4

In [1]:
for i in range(1,3):
    for j in range(2,5):
        print(i * j, end=" ")

2 3 4 4 6 8

In [5]:
n = 0
while n < 10:
    print(n)
    if n == 5:
        #continue
        break
    n += 1

0
1
2
3
4
5

In [6]:
n = 0
while n < 10:
    if n == 5:
        break
    print(n)
    n += 2

0
2
4
6
8

In [7]:
n = 0
while n < 6:
    n += 1
    if n % 2 == 0:
        continue
    print(n, end=" ")

1 3 5

In [8]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2